# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env
.env.*

# Python Cache Files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db